@import "normalize";
@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";
@import "components/components";
@import "patterns/patterns";

#main-container {
	@include outer-container(90%);
}

#video-section img {
	padding: 10px;
}

li {
	display: inline-block;
}

h1 {
	font-size: 3em;
}